// Reset Button (S2)
IO_LOC "nRST" 4;

// Clock (27MHz)
IO_LOC "XTAL_IN" 52;

// RGB Screen Control
IO_LOC "LCD_CLK" 35;
IO_LOC "LCD_HYNC" 40;
IO_LOC "LCD_SYNC" 34;
IO_LOC "LCD_DEN" 33;

// Red Channel (5 bits)
IO_LOC "LCD_R[4]" 71;
IO_LOC "LCD_R[3]" 72;
IO_LOC "LCD_R[2]" 73;
IO_LOC "LCD_R[1]" 74;
IO_LOC "LCD_R[0]" 75;

// Green Channel (6 bits)
IO_LOC "LCD_G[5]" 55;
IO_LOC "LCD_G[4]" 56;
IO_LOC "LCD_G[3]" 57;
IO_LOC "LCD_G[2]" 68;
IO_LOC "LCD_G[1]" 69;
IO_LOC "LCD_G[0]" 70;

// Blue Channel (5 bits)
IO_LOC "LCD_B[4]" 41;
IO_LOC "LCD_B[3]" 42;
IO_LOC "LCD_B[2]" 51;
IO_LOC "LCD_B[1]" 53;
IO_LOC "LCD_B[0]" 54;

IO_LOC "LCD_BL" 49;
IO_PORT "LCD_BL" IO_TYPE=LVCMOS33;

// Voltage setup for all pins
IO_PORT "nRST" IO_TYPE=LVCMOS18;
IO_PORT "XTAL_IN"   IO_TYPE=LVCMOS33;
IO_PORT "LCD_CLK"   IO_TYPE=LVCMOS33;
IO_PORT "LCD_HYNC"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_SYNC"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_DEN"   IO_TYPE=LVCMOS33;
IO_PORT "LCD_R[4]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_R[3]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_R[2]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_R[1]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_R[0]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_G[5]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_G[4]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_G[3]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_G[2]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_G[1]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_G[0]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_B[4]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_B[3]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_B[2]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_B[1]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_B[0]"  IO_TYPE=LVCMOS33;